.TechInput {
    color: $onBg;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include transition;
    background-color: $bg;
    cursor: pointer;
    @include shadow;
    &:hover {
        @include glow;
    }
    &_active {
        background-color: $secondary;
    }
}