.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-content: center;


    &__icons {
        grid-column: 2;
        // background-color: aliceblue;
        color: $primary;
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
        padding: 1rem;

        &__icon {
            padding: 0.5rem;
            margin: 1rem;
            border-radius: 1rem;
            @include transition;

            &:hover {
                background-color: $primary;
                color: $secondary;
                font-size: 2.5rem;
            }
        }
    }

    &__email {
        grid-column: 1;
        grid-row: 1;
        margin: 1rem;
        padding: 1rem;
        margin: auto;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background-color: lighten($secondary, 20);
        color: $onSecondary;
        @include shadow;
        @include transition;
        &:hover {
            @include glow;
        }



        &__icon {
            font-size: 2rem;
            border-radius: 1rem;
            padding: 1rem;
            cursor: pointer;
            @include transition;

            &:hover {
                color: $primary;
                background-color: $secondary;
            }
        }

        p {
            font-weight: bold;
        }

        &__address {
            padding: 1rem;
        }


    }
}

@media only screen and (max-width: $big) {
    .contact {
        grid-template-columns: 1fr;

        &__icons {
            grid-row: 2;
            grid-column: 1;
        }
        &__email {
            grid-row: 3;
        }
    }
}