.project {
  margin: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  @include shadow;
  @include transition;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;

  &:hover {
    @include glow;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
      padding: 1rem;
      padding-bottom: 0.2rem;
      text-align: center;
      font-size: large;
      font-weight: bold;
      color: darken($primary, 50);

      &__time {
        text-align: center;
        font-size: small;
        font-weight: lighter;
      }
    }

    &__img {
      margin-right: 0;
      margin: 1rem;
      position: relative;
      overflow: hidden;
      border-radius: 1rem;
      right: 0;
      width: 170px;
      height: auto;
    }

    &__text {
      padding: 1rem;
      margin: 1rem;
      text-align: center;
    }
    &__checkout {
      background-color: $primary;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;

      &:hover {
        @include shadow;
      }
    }
  }

  &__technologies {
    display: flex;
    list-style: none;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;

    &__item {
      margin-right: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}
